<div class="container-scroller">
     <!-- partial:partials/_sidebar.html -->
     <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg"
                    alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                    alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">Henry Klein</h5>

                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="index.html">
                    <span class="menu-icon">
                        <i class="mdi mdi-speedometer"></i>
                    </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop"></i>
                    </span>
                    <span class="menu-title">Gestion professeur</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">liste des
                                profs</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basics" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop"></i>
                    </span>
                    <span class="menu-title">Gestion apprenant</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basics">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">liste des
                                apprenants</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/tables/basic-table.html">
                    <span class="menu-icon">
                        <i class="mdi mdi-table-large"></i>
                    </span>
                    <span class="menu-title">Liste classe</span>
                </a>
            </li>

        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
         <!-- partial:partials/_navbar.html -->
         <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                    data-toggle="minimize">
                    <span class="mdi mdi-menu" style="font-size: 2.5em;"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" id="search">
                            <input type="text" class="form-control" placeholder="Rechercher">
                        </form>
                    </li>
                </ul>
                
                <div>
                    <ul class="navbar-nav navbar-nav-right">
                    
                        <!-- <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown"
                            data-toggle="dropdown" aria-expanded="false" href="#">+ Ajouter une classe</a> -->
                            <!-- Button trigger modal -->

                      
                     
                       
                    <li class="nav-item dropdown ">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                            data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count bg-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Event today</p>
                                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                        today </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-link-variant text-warning"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Launch Admin</p>
                                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">See all notifications</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profil</h6>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Se deconnecter</p>
                                </div>
                            </a>

                        </div>
                    </li>
                </ul>

                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="row  " style=" margin-top: 8rem; margin-left: 40px; ">
            
            <div class="col-12 ">
             <h2 style="color: black;">Bienvenue Mr Fall!!!</h2>
             <div class="d-flex mt-2" style="float: right; margin-right: 20px;" >
                <div>
                    <button type="button " id="btn-popup" class="btn btn-success rounded-4  " style="width: 170px;background-color: #007BFF;border:none  ">
                        <i class="bi bi-eye"></i>Voire evaluations
                    </button>
                </div>
                <div class="shadow " style="margin-left: 5px; ">
                    <button type="button " id="btn-popup" class="btn btn-success rounded-4  " style="width: 170px; background-color: #007BFF; border:none  ">
                        <i class="bi bi-eye"></i> Voire notes
                    </button>
                </div>
             </div>
             <div class="card mb-3 bg-white text-dark shadow mt-5  " style="max-width:100%; margin-right: 20px; border:20px solid #CE6A6B">
                 <div class="row g-0">
                   <div class="col-md-4  contain-img">
                    <div>
                        <img src="https://img.freepik.com/photos-premium/vous-pouvez-faire-portrait-studio-jeune-femme-montrant-geste-du-pouce-leve-fond-rose_590464-54185.jpg?size=626&ext=jpg&ga=GA1.1.822484715.1690572046&semt=ais" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex  resau-sociau" style="margin-top: 20px;" >
                        <div class="content-icons" style="background-color: #CE6A6B; border-radius: 50%; margin-left: 10px;"><i class="bi bi-twitter" style="color: white; font-size: 10px; "></i></div>
                        <div class="content-icons" style="background-color: #CE6A6B; border-radius: 50%; margin-left: 7px;"><i class="bi bi-linkedin" style="color:white; font-size:10px;  "></i></div>
                        <div class="content-icons" style="background-color: #CE6A6B; border-radius: 50%; margin-left: 7px;"><i class="bi bi-facebook" style="color:white; font-size: 10px;"></i></div>
                        <div class="content-icons" style="background-color: #CE6A6B;  margin-left: 7px; border-radius: 50%; " ><i class="bi bi-whatsapp " style="font-size: 10px; color: white;" ></i></div>

                    </div>
                    
                   </div>
                   <div class="col-md-8">
                     <div class="card-body contain-body  ">
                       <h5 class="card-title text-dark ">Mr Malick Fall</h5>
                       <p>Matiere:Anglais</p>
                       <p>Class:6me</p>
                       <p>Etat:desactivé</p>
                       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                       <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                     </div>
                   </div>
                 </div>
               </div>
     
            </div>
         </div>
       
    </div>
    <!-- cc -->

</div>


